datasets/
mnist_bag/
WSI/
WSI_temp_files/
simclr/runs
simclr/all_patches.csv
test/
weights/
embedder/
test-c16/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
*.ipynb
abmil.py
balanced_merged_patients_v5.csv
Consolidated_annotations_KOHsmear.csv
merged_patients_testing.csv
merged_patients_training.csv
merged_patients_v3.csv
merged_patients_v5_test.csv
merged_patients_v5.csv
datasets_dual_mag
train_tcga.py
train_tcga2.py
train_tcga3.py
train_tcga4.py
train_tcga5_attention_map.py
temp_test/
temp_train
*.out
*.log
simclr/all_patches_sorted.csv
README_old.md
simclr1/*
WSI
inference_test/*
models/high_mag_embedder.pth
models/low_mag_embedder.pth
README OURS.md
build
dist
*.spec
