datasets/
mnist_bag/
WSI/
WSI_temp_files/
simclr/runs
simclr/all_patches.csv
test/
weights/
embedder/
test-c16/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
*.ipynb
abmil.py
balanced_merged_patients_v5.csv
Consolidated_annotations_KOHsmear.csv
merged_patients_testing.csv
merged_patients_training.csv
merged_patients_v3.csv
merged_patients_v5_test.csv
merged_patients_v5.csv
datasets_dual_mag
train.log
train_tcga.py
train_tcga2.py
train_tcga3.py
train_tcga4.py
train_tcga5_attention_map.py
temp_test/
temp_train
simclr/nohup_highmag.out
simclr/nohup_lowmag.out
simclr/nohup.out
simclr/train_simCLR.log
simclr/all_patches_sorted.csv
README_old.md
simclr1/config.yaml
simclr1/run.py
simclr1/simclr.py
simclr1/data_aug/dataset_wrapper.py
simclr1/data_aug/gaussian_blur.py
simclr1/loss/nt_xent.py
simclr1/models/baseline_encoder.py
simclr1/models/resnet_simclr.py
simclr1/runs/Apr10_02-11-44_Lambda/events.out.tfevents.1712740304.Lambda.1068472.0
simclr1/runs/Apr10_02-11-44_Lambda/checkpoints/config.yaml
simclr1/runs/Apr10_02-11-44_Lambda/checkpoints/model.pth
simclr1/runs/Apr10_02-11-44_Lambda_old1/events.out.tfevents.1712740304.Lambda.1068472.0
simclr1/runs/Apr10_02-11-44_Lambda_old1/checkpoints/config.yaml
simclr1/runs/Apr10_02-11-44_Lambda_old1/checkpoints/model.pth
simclr1/runs/Apr10_02-11-44_Lambda_old2/events.out.tfevents.1712740304.Lambda.1068472.0
simclr1/runs/Apr10_02-11-44_Lambda_old2/checkpoints/config.yaml
simclr1/runs/Apr10_02-11-44_Lambda_old2/checkpoints/model.pth
simclr1/runs/Apr18_15-57-02_Lambda/events.out.tfevents.1713481022.Lambda.1338478.0
simclr1/runs/Apr18_15-57-02_Lambda/checkpoints/config.yaml
simclr1/runs/Apr18_15-57-02_Lambda/checkpoints/model.pth
